div.k2ItemsBlock.tz_ziczac .tz-table-cell .tz-information,
div.k2ItemsBlock.tz_ziczac .tz-table-cell .moduleItemReadMore,
.tz-module .TzContact .tz-btn-contact,
.tz-ticket-event .tz-addition-info,
.tz-ticket-event .tz_event,
.tz-ticket-event .tz-btn,
.intro-block .tz-location,
.copyright_footer, .term_footer { font-family: 'Teko', sans-serif, Arial, sans-serif;  }
body, 
#jevents_body .popover,
#plazart-mainnav .navbar-toggle .btn-menu-custom { font-family: 'Open Sans', sans-serif, Arial, sans-serif;  }
h1,h2,h3,h4,h5,h6,
#plazart-mainnav .navbar-inner .nav-collapse,
.time-countdown,
div.k2ItemsBlock.tz_ziczac .tz-table-cell .moduleItemTitle,
.tz-next-show,
.intro-block .tz-title,
.tzcountdown .tzcountdownitem,
.tz-ticket-event .tz-title,
.parallax .title,
.tz-plus-gallery-musika .tz-link-follow,
.footer_page_home .tz-footer-title,
.tz-playlist .jp-title,
.tz-playlist .jp-playlist li { font-family: BebasNeueBold, Arial, sans-serif;  }
