 #tz-header-wrapper:before{

} #tz-header-wrapper{

} #tz-header-wrapper a{

} #tz-header-wrapper a:hover{

} #tz-countdown-wrapper:before{

                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.7);
                
} #tz-countdown-wrapper{
background-image: url(http://joomla.templaza.net/musika/images/block2-home2.jpg);position: relative;background-repeat: no-repeat;background-attachment: scroll;background-position: 50% 50%;
} #tz-countdown-wrapper a{

} #tz-countdown-wrapper a:hover{

} #tz-ticket-wrapper:before{

} #tz-ticket-wrapper{

} #tz-ticket-wrapper a{

} #tz-ticket-wrapper a:hover{

} #tz-video-wrapper:before{

                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                
} #tz-video-wrapper{
background-image: url(http://joomla.templaza.net/musika/images/bg_video.jpg);position: relative;background-repeat: no-repeat;background-size: cover;background-attachment: scroll;background-position: 50% 50%;
} #tz-video-wrapper a{

} #tz-video-wrapper a:hover{

} #tz-social-wrapper:before{

} #tz-social-wrapper{

} #tz-social-wrapper a{

} #tz-social-wrapper a:hover{

} #tz-blog-wrapper:before{

} #tz-blog-wrapper{
background-color: rgb(249, 249, 249) !important;
} #tz-blog-wrapper a{

} #tz-blog-wrapper a:hover{

} #tz-event-wrapper:before{

                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);
                
} #tz-event-wrapper{

} #tz-event-wrapper a:hover{

} #tz-plus-gallery-wrapper:before{

} #tz-plus-gallery-wrapper{
background-color: rgb(249, 249, 249) !important;
} #tz-plus-gallery-wrapper a{

} #tz-plus-gallery-wrapper a:hover{

} #tz-footer-wrapper:before{

} #tz-footer-wrapper{

} #tz-footer-wrapper a:hover{

}