h1,h2,h3,h4,h5,h6,
.tz-top-information,
blockquote em,
.tz-table-information .tz-value,
.tz-back-team,
.tz-menu-fixed,
.menu__breadcrumbs { font-family: BebasNeueBold, Arial, sans-serif;  }
body { font-family: 'Open Sans', sans-serif, Arial, sans-serif;  }
.tz-btn-contact,
#TzSlideTeam .TzPortfolioDescription .tz-tag,
.TzArticleTag a,
.tz-table-information .tz-label,
.view-contact .contact .tz-form-title,
.text-page
 { font-family: 'Teko', sans-serif, Arial, sans-serif;  }
