 #tz-logo-wrapper:before{

} #tz-logo-wrapper{

} #tz-logo-wrapper a{

} #tz-logo-wrapper a:hover{

} #tz-menu-wrapper:before{

} #tz-menu-wrapper{

} #tz-menu-wrapper a{

} #tz-menu-wrapper a:hover{

} #tz-header-wrapper:before{

} #tz-header-wrapper{

} #tz-header-wrapper a{

} #tz-header-wrapper a:hover{

} #tz-top-about-wrapper:before{

} #tz-top-about-wrapper{
background-image: url(http://joomla.templaza.net/musika/images/bg-breadcrumbs.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: scroll;background-position: 50% 50%;
} #tz-top-about-wrapper a{

} #tz-top-about-wrapper a:hover{

} #tz-time-line-wrapper:before{

} #tz-time-line-wrapper{
background-color: rgb(14, 14, 14) !important;
} #tz-time-line-wrapper a{

} #tz-time-line-wrapper a:hover{

} #tz-footer-wrapper:before{

                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(14, 14, 14, 0.8);
                
} #tz-footer-wrapper{
background-image: url(http://joomla.templaza.net/musika/images/bg_footer.jpg);position: relative;background-repeat: no-repeat;background-size: cover;background-attachment: scroll;background-position: 50% 50%;
} #tz-footer-wrapper a{

} #tz-footer-wrapper a:hover{

}