.itemListView .itemList .catItemAuthor a,
.itemListView .itemList .catItemTitle a,
.itemListView .itemList div.catItemReadMore,
.itemListView .itemList .catItemCategory a,
h1,h2,h3,h4,h5,h6,
.tz-top-information,
blockquote em,
.itemView .itemCategory,
#plazart-mainnav .navbar-inner,
#TzVideo .element .TzInner .TzPortfolioTitle a,
.filter-title.TzFilter,
.jp-playlist li,
.tz-information-album .tz-title,
.TzMoreAlbums,
.tz-buy-now,
.list-buy-now,
.tz-additional,
#tz_append .btn-block,
.jeventpage .box-detail .tz-row .tz-label,
.jeventpage .box-detail .tz-title-box,
div.itemCommentsForm form input#submitCommentButton,
.genericView .componentheading,
#jevents_body .jev_toprow div.currentmonth,
#jevents_body .jev_toprow div.previousmonth a,
 #jevents_body .jev_toprow div.nextmonth a,
#jevents_body .cal_top_day_names .cal_daysnames,

div.tagItemView .tagItemDateCreated,  
div.userItemView .userItemDateCreated, 
div.genericItemView .genericItemDateCreated,

div.tagItemView .tagItemCategory , 
div.userItemView .userItemCategory , 
div.genericItemView .genericItemCategory,

div.tagItemView .tagItemReadMore , 
div.userItemView .userItemReadMore , 
div.genericItemView .genericItemReadMore { font-family: BebasNeueBold, Arial, sans-serif;  }
body, 
#jevents_body .popover,
#plazart-mainnav .navbar-toggle .btn-menu-custom { font-family: 'Open Sans', sans-serif, Arial, sans-serif;  }
.itemListView .itemList .catItemLinks.tz-top,
.itemListView .itemList .catItemLinks.tz-top  a,
.copyright_footer ,
.term_footer ,
.text-page,
.TzMoreAlbums .tz_additional,
#TzAlbum .TzArticle-info { font-family: 'Teko', sans-serif, Arial, sans-serif;  }
