 #tz-header-wrapper:before{

} #tz-header-wrapper{

} #tz-header-wrapper a{

} #tz-header-wrapper a:hover{

} #tz-breadcrumbs-wrapper:before{

                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(16, 16, 16, 0.9);
                
} #tz-breadcrumbs-wrapper{
background-image: url(http://joomla.templaza.net/musika/images/bg-breadcrumbs.jpg);position: relative;background-repeat: no-repeat;background-size: cover;background-position: 50% 50%;
} #tz-breadcrumbs-wrapper a{

} #tz-breadcrumbs-wrapper a:hover{

} #tz-main-body-wrapper:before{

} #tz-main-body-wrapper{
background-color: rgb(249, 249, 249) !important;
} #tz-main-body-wrapper a{

} #tz-main-body-wrapper a:hover{

} #tz-component-area-wrapper:before{

} #tz-component-area-wrapper{

} #tz-component-area-wrapper a{

} #tz-component-area-wrapper a:hover{

} #tz-footer-wrapper:before{

                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(16, 16, 16, 0.9);
                
} #tz-footer-wrapper{
background-image: url(http://joomla.templaza.net/musika/images/block1-home2.jpg);position: relative;background-repeat: no-repeat;background-size: cover;background-attachment: scroll;background-position: 50% 50%;
} #tz-footer-wrapper a{

} #tz-footer-wrapper a:hover{

}